@import './base.css';

#app {
  max-width: 1800px;
  margin: 0 auto;

}

a,
.green {
  text-decoration: none;
  color: rgb(200, 192, 147);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(200, 192, 147, .1);
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  
}
